*.iml
.gradle
/local.properties

# IntelliJ
*.iml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/saveactions_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries
.idea/libraries

.DS_Store
/build
/captures
.externalNativeBuild
