*.iml
.gradle
local.properties
*.jks
app/release
google-services.json
google-services.base64
google-services-debug.base64

# IntelliJ
*.iml
.idea/tasks.xml
.idea/gradle.xml
.idea/misc.xml
.idea/saveactions_settings.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/dictionaries
.idea/libraries
.idea/inspectionProfiles
.idea/codeStyles
.idea/caches

.DS_Store
/build
/captures
.externalNativeBuild
